section(class=['promo-2'])
    div(class = ['grid'])
        div(class = ['promo-2__box'])
            img(class = ['promo-2__box__img'] src='../images/promo-2-workflow.png')
            div(id='slider-wrap' class = ['promo-2__box__carousel'])               
