extends layout/layout.pug

block variables
    - var title = 'Merkury'

block content
    include ./includes/features.pug
    include ./includes/promo-1.pug
    include ./includes/promo-2.pug
    include ./includes/promo-3.pug
    include ./includes/price.pug


