block variables

doctype html
html
    head
        title=title
        meta(charset='UTF-8')
        <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1'>
    body
        include ../includes/header.pug
        block content
        include ../includes/footer.pug